@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ComicMarvelProject.Models
@using ComicMarvelProject.Views
@model List<Comic>
@{
	ViewData["Title"] = "Comics";
}
<head>
	<link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Caveat:wght@400..700&family=Ga+Maamli&family=Londrina+Shadow&display=swap" rel="stylesheet">
</head>

<div class="text-center">
	<h1 class="comicHeader">Comics</h1>
</div>

<div class="container">
	<div class="text-center">
		<form method="get" asp-action="ComicsList">
			<div class="">
				<h3 class="searchTitle"> Seach for Comic</h3>
				<input class="form-control form-control-sm w-50 mx-auto mt-4" name="comicTitle"placeholder="Comic Title" value=""/>
			</div>
			<div class="p-2">
				<button class="comicSearchBtn btn btn-primary btn-sm">Search</button>
			</div>
		</form>
	</div>
</div>

@* Comic Card *@

@if (Model != null && Model.Count > 0)
{
	<div class="container">
		<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5">
			@foreach (var comic in Model)
			{
				if (string.IsNullOrEmpty(comic.Description) &&
				(comic.Stories?.Available ?? 0) == 0 &&
				(comic.Characters?.Available ?? 0) == 0 &&
				(comic.Events?.Available ?? 0) == 0)
				{
					continue; // Skip this comic if all conditions are met
				}

				<div class="col mb-4">
					<div class="card-comicList" style="@((string.IsNullOrEmpty(comic.Description) ? "max-height:100%;" : "")); width: 12rem;">
						<a class="card-title-comic text-center">@comic.Title</a>
						<div class="card-img-wrapper-ComicList">
							<img src="@($"{comic.Thumbnail.Path}.{comic.Thumbnail.Extension}")"
								 class="card-img-ComicList" />
						</div>
						<div class="card-body-comic">
							<div>
								<div class="card-section">
									<span class="card-text comic-card-details">Description:</span>
									<span class="comic-Text-Description">
										@if (@comic.TextObjects.Any())
										{
											@comic.TextObjects.FirstOrDefault().Text;
										}
										else
										{
											@comic.Description;
										}
									</span>
								</div>
								<div class="card-section creators-section">
									<span class="card-text comic-card-details">Creators:</span>
									@foreach(var creator in comic.Creators.Items.Take(2))
									{
										<span class="card-text card-text-small">* @creator.Name - @creator.Role</span>
									}
								</div>
								<div class="card-section characters-section">
									<span class="card-text comic-card-details">Characters:</span>
									@foreach(var character in comic.Characters.Items.Take(2))
									{
										<span class="card-text card-text-small">* @character.Name</span>
									}
								</div>
								
							</div>

							<div class="card-footer-comic">
								<span><span class="comic-card-details">Issue:</span> #@comic.IssueNumber</span>
								<span> | </span>
								<span><span class="comic-card-details">Pages:</span> @comic.PageCount pgs.</span>
							</div>
						</div>
					</div>
				</div>

			}
		</div>
	</div>
}



@* <div class="comicContainer d-flex flex-column align-items-center">
    <h2 style="font-weight:bold;"> My Most Valuable Comic</h2>
    <img src="/images/xmen25.jpg" class="xmenComic">
    <h3 class="titleComic">X-men Issue #25 1993</h3>
    <h6 class="detailsComic">Graded: 9.8 | Signed: Andy Kupert</h6>
</div> *@


